body{
    background-color: #eeeeee;
}
.main{
    background-color: white;
    width: 700px;
    height: 500px auto;

}
.header{
    margin-left: 40%;
}
.header h1{
    color: #757575;
}
.form h5{
    color: #9e9e9e;
}
